<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

  <configuration>
  	<typeAliases>
  		<typeAlias type="com.seed.lib.admin.program.ProgramVO" alias="ProgramVO"/>
  		
  		<typeAlias type="com.seed.lib.book.BookVO" alias="BookVO"/>
  		<typeAlias type="com.seed.lib.book.LibVO" alias="LibVO"/>
  		<typeAlias type="com.seed.lib.book.BookLibVO" alias="BookLibVO"/>
		<typeAlias type="com.seed.lib.book.like.MbBookLikeVO" alias="MbBookLikeVO"/>
		<typeAlias type="com.seed.lib.book.shelf.BookShelfVO" alias="BookShelfVO"/>
		<typeAlias type="com.seed.lib.book.shelf.BookPickVO" alias="BookPickVO"/>
		<typeAlias type="com.seed.lib.util.ShelfPager" alias="ShelfPager"/>
		<typeAlias type="com.seed.lib.util.BookPager" alias="BookPager"/>

  		<typeAlias type="com.seed.lib.hope.HopeVO" alias="HopeVO"/>
  		<typeAlias type="com.seed.lib.donation.DonationVO" alias="DonationVO"/>
  		<typeAlias type="com.seed.lib.util.StatusVO" alias="StatusVO"/>
		<typeAlias type="com.seed.lib.util.HdPager" alias="HdPager"/>
		<typeAlias type="com.seed.lib.util.Pager" alias="Pager"/>
		<typeAlias type="com.seed.lib.studyroom.StudyRoomVO" alias="StudyRoomVO"/>
		<typeAlias type="com.seed.lib.studyroom.StudyDetailVO" alias="StudyDetailVO"/>

		 <typeAlias type="com.seed.lib.member.MemberVO" alias="MemberVO"/>
		 <typeAlias type="com.seed.lib.member.RoleVO" alias="RoleVO"/>
		 
		 
		 
		 <typeAlias type="java.util.List" alias="List"/>
		 <typeAlias type="java.util.Map" alias="Map"/>
		<typeAlias type="java.lang.Long" alias="Long"/>

		 

 
 </typeAliases>
  </configuration>
