<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

  <configuration>
  	<typeAliases>
  		<typeAlias type="com.seed.lib.book.BookVO" alias="BookVO"/>
  		<typeAlias type="com.seed.lib.book.LibVO" alias="LibVO"/>
  		<typeAlias type="com.seed.lib.book.BookLibVO" alias="BookLibVO"/>

  		<typeAlias type="com.seed.lib.hope.HopeVO" alias="HopeVO"/>
  		<typeAlias type="com.seed.lib.donation.DonationVO" alias="DonationVO"/>
  		<typeAlias type="com.seed.lib.util.StatusVO" alias="StatusVO"/>

		 <typeAlias type="com.seed.lib.member.MemberVO" alias="MemberVO"/>
		 <typeAlias type="com.seed.lib.member.RoleVO" alias="RoleVO"/>
		 
		 
		 <typeAlias type="java.util.List" alias="List"/>
		 <typeAlias type="java.util.Map" alias="Map"/>
 
 </typeAliases>
  </configuration>
