html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: none;
    margin: 0;
    padding: 0;
    font: inherit;
}

/* -----  loan  ----- */
/* 타이틀 */
.content {
	width: 60%;
	margin: auto;
	margin-left: 280px;
}


#divWrapper {
    min-width: 1200px;
}

#divContents {
    position: relative;
    width: 1200px;
    margin: 10px auto 0;
}


.sub-title {
	color: #323232;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 10px;
    border-bottom: 4px solid #76E170;
    margin-bottom: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    height: 60px;
}

/* ----- Tab ----- */

.divTabMenu1 {
	width: 100%;
	height: 50px;
	box-sizing: border-box;
	margin-top:20px; 
}

.divTabMenu1 ul {
	width : 80%;
	display: flex;
	justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
	border: 1.5px solid #323232;
	padding: 15px;
}

.divTabMenu1 li {
	font-weight : bold;
	font-size: 20px;
}

.divTabMenu2 {
	margin-top: 30px;
	margin-left : 30px;
	margin-right: 60px;
}

.divTabMenu2 ul {
	display: flex;
	align-items: center;
	border-bottom: 4px solid #76E170;
}

.divTabMenu2 li {
	font-weight : bold;
	font-size : 17px;
	margin: 20px;
	margin-bottom: 10px;
}

/* ----- divContent ----- */
.divContent {
	margin-top: 30px;
	margin-left: 30px;
}

.loanSearch {
	background-color: #A8E2BD;
	padding: 20px;
}

.loanSearch p {
	font-weight: bold;
	font-size: 17px;
	margin-bottom: 15px;
}

.bunch {
	margin-left: 7px;
	margin-right: 7px;
}

.btnType5 {
	padding: 5px;
	margin-left: 10px;
}

/* list */
.loanList {
	margin-top: 20px;
	padding: 10px;
	width: 80%;
}

.listTable {
	margin-top: 20px;
}

.listTable-t {
	align-content: center;
	align-items: center;
	padding: 10px;
}

.listTable-t td {
	padding : 5px;
	padding-right : 10px;
}

.padding-x {
	padding : 5px;
	padding-right : 0px;
}

.th-title {
	width: 20%;
}

.th-title-2 {
	width: 60%;
}

.th-title-3 {
	width: 50%;
}







