@charset "utf-8";

.contentsGroup {
	display: flex;
	flex-direction: column;
	align-items: center;
}
       
.seatArea {
	width: 100%;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
        
.book {
   display: block;
   font-size: 30px;
   font-weight: bold;
}

.bookTitle {
   display: block;
   font-size: 25px;
   font-weight: bold;
}

.shelfCon {
	display: flex;
}

.btnArea {
	margin-top: 30px;
}

#revBtn{
    border-radius: 5px;
    text-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
    font-size: 18px !important;
}