@charset "utf-8";

/* add Book */
.contentsGroup {
	display: flex;
	flex-direction: column;
	align-items: center;
}
       
.seatArea {
	width: 80%;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
        
.book {
   display: block;
   font-size: 30px;
   font-weight: bold;
}

.bookTitle {
   display: block;
   font-size: 20px;
   font-weight: bold;
   width: 60%;
}

.shelfCon {
	display: flex;
	align-items: center;
    flex-direction: column;
}

.shelf-flex-a {
	display: flex;
	align-items: center;
    justify-content: space-evenly;
}

.shelf-flex-b {
	margin-top: 20px;
}

.shelfTI span{
	margin-right: 5px;
}

.btnArea {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
    align-items: center;
    justify-content: center;
}

#revBtn{
    border-radius: 5px;
    text-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
    font-size: 18px !important;
}

.btn-flex-a {
	margin-bottom: 50px;
}

#RealBookBtn {
	margin-right: 10px;
}

#closeBtn {
	margin-left: 10px;
}

/* ----- new Shelf ----- */
.shelf-con {
	width: 60%
}

.shelfCon {
	display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.shelfMemo {
	margin-top : 20px;
	display: flex;
	width: 100%;
}

.shelfMemo span {
	margin-right: 5px;
}

.shelfName span {
	margin-right: 5px;
}



