/* modal.css */

.ucmy8_modify_wrap {
	margin-top: 16px
}

.ucmy8_modify_wrap table {
	width: 100%;
	border-top: 2px solid #02d449;
	border-bottom: 1px solid #a6a6a6;
	font-size: 16px;
	text-align: center;
	table-layout: fixed
}

.ucmy8_modify_wrap .col1 {
	width: 18%
}

.ucmy8_modify_wrap .col2 {
	width: 12%
}

.ucmy8_modify_wrap th {
	padding: 16px 0;
	border-bottom: 1px solid #dfdfdf;
	background-color: #f5f5f5;
	font-size: 16px;
	color: #000
}

.ucmy8_modify_wrap td {
	position: relative;
	padding: 12px 20px;
	border-top: 1px solid #dadada;
	background-color: #fff;
	font-weight: 400;
	color: #3f3f3f
}

.ucmy8_modify_wrap tbody tr:first-child td {
	border-top: none
}

.ucmy8_modify_wrap tbody tr td:first-child {
	text-align: left
}

.ucmy8_modify_wrap a {
	display: inline-block;
	padding: 5px;
	height: 100%
}

.ucmy8_modify_wrap .input_select_wrap2 {
	height: 35px
}

.ucmy8_modify_wrap .input_text_wrap {
	height: 35px;
	border-color: #dcdcdc
}

.ucmy8_mobile_modify_wrap {
	display: none
}

.basktet_table .col1 {
	width: 30%
}

.basktet_table .col2 {
	width: 23%
}

.basktet_table td>span {
	display: -webkit-box;
	width: 100%;
	overflow: hidden;
	vertical-align: top;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2
}

@media screen and (max-width:767px) {
	.ucmy8_modify_wrap {
		display: none;
		margin-top: 13px
	}
	.ucmy8_mobile_modify_wrap {
		display: block
	}
	.ucmy8_mobile_modify_wrap {
		border-top: 2px solid #426f8f;
		border-bottom: 1px solid #a6a6a6
	}
	.ucmy8_mobile_modify_wrap .ucmy8_item {
		padding: 14px 0;
		border-top: 1px solid #dfdfdf
	}
	.ucmy8_mobile_modify_wrap .ucmy8_item:first-child {
		border: 0
	}
	.ucmy8_mobile_modify_wrap .ucmy8_item>a {
		display: block;
		width: 100%;
		height: 100%;
		padding: 0;
		box-sizing: border-box;
		-webkit-box-sizing: border-box
	}
	.ucmy8_mobile_modify_wrap .ucmy8_item>a:focus, .ucmy8_mobile_modify_wrap .ucmy8_item>a:hover
		{
		background: #f8f8f8
	}
	.ucmy8_mobile_modify_wrap .cont {
		overflow: hidden;
		position: relative;
		padding: 0 10px;
		text-align: left;
		box-sizing: border-box;
		-webkit-box-sizing: border-box
	}
	.ucmy8_mobile_modify_wrap .bx {
		display: inline-block;
		vertical-align: middle
	}
	.ucmy8_mobile_modify_wrap .title {
		display: block;
		font-size: 1.7rem;
		font-weight: 700;
		color: #4f4f4f;
		line-height: 1.3;
		box-sizing: border-box;
		-webkit-box-sizing: border-box
	}
	.ucmy8_mobile_modify_wrap .title:hover {
		text-decoration: underline
	}
	.ucmy8_mobile_modify_wrap .info_inner {
		display: block;
		margin-top: 6px;
		font-size: 0
	}
	.ucmy8_mobile_modify_wrap .info_inner dl {
		overflow: hidden
	}
	.ucmy8_mobile_modify_wrap .info_inner dd, .ucmy8_mobile_modify_wrap .info_inner dt
		{
		margin-top: 7px;
		font-size: 1.5rem;
		color: #626262
	}
	.ucmy8_mobile_modify_wrap .info_inner dt {
		float: left;
		position: relative;
		padding-right: 8px;
		margin-right: 8px
	}
	.ucmy8_mobile_modify_wrap .info_inner dt:after {
		display: inline-block;
		position: absolute;
		top: 50%;
		right: 0;
		width: 1px;
		height: 9px;
		background: #dcdcdc;
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		content: ''
	}
	.ucmy8_mobile_modify_wrap .info_inner dd {
		overflow: hidden;
		display: block
	}
	.ucmy8_mobile_modify_wrap .select_copy_paper {
		margin-top: 8px;
		font-size: 0
	}
	.ucmy8_mobile_modify_wrap .select_copy_paper>.input_select_wrap2 {
		float: left;
		margin-right: 4px
	}
	.ucmy8_mobile_modify_wrap .select_copy_paper>.input_select_wrap2,
		.ucmy8_mobile_modify_wrap .select_copy_paper>.input_text_wrap {
		display: block;
		overflow: hidden
	}
	.ucmy8_mobile_modify_wrap .select_copy_paper>.input_text_wrap {
		width: auto
	}
}

.normal_input {
  position: relative;
  top: 4px;
  appearance: auto;
  -moz-appearance: auto;
  -o-appearance: auto;
  cursor: pointer
}

.normal_input+label {
  cursor: pointer
}

/* [s] 레이어팝업 수정 */
.layer_popup .btn_close.closeLayer {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  padding: 24px 24px 20px 20px;
}
.layer_popup .btn_close.closeLayer .sp {
  width: 18px;
  height: 18px;
  background-position: -211px 0;
}
@media screen and (max-width: 767px) {
  .layer_popup .btn_close.closeLayer {
    padding: 16px 15px 10px 10px;
  }
  .layer_popup .btn_close.closeLayer .sp {
    width: 17px;
    height: 17px;
    background: url(/images/btn_close.png) no-repeat;
  }
}
/*-- [e] 레이어팝업 수정 */

/* 바구니 */
.basket_list {
  border-top: 2px solid #426f8f;
  border-bottom: 1px solid #dfdfdf;
  font-size: 0;
}
.basket_title_wrap {
  display: table;
  width: 100%;
}
.basket_title {
  display: table-cell;
  position: relative;
  width: 89.1282052%;
  padding: 16px 8px;
  border-bottom: 1px solid #dfdfdf;
  background-color: #f5f5f5;
  font-size: 16px;
  color: #000;
  font-weight: 700;
  text-align: left;
  box-sizing: border-box;
  vertical-align: middle;
}
.basket_chk {
  width: 4.1025641%;
}
.basket_num {
  width: 6.7692307%;
}
.basket_list .input_check + label {
  vertical-align: inherit;
}
.basket_list .input_check + label:before {
  margin-right: 0;
}
.basket_list .btn_wrap {
  position: absolute;
  top: 7px;
  right: 4px;
  margin: 0;
}
.basket_list .btn_wrap .all-close {
  display: none;
  position: relative;
  min-width: 100px;
  margin-right: 10px;
  padding-right: 17px;
  background-color: transparent;
  padding-right: 17px;
  color: #3f3f3f;
}
.basket_list .btn_wrap .all-close:before {
  position: absolute;
  top: 54%;
  right: 0;
  width: 11px;
  height: 7px;
  background: url(/resource/templete/nl/common/img/common/bottom-arrow.png)
    right center no-repeat;
  transform: translateY(-50%);
  content: '';
}
.basket_list .btn_wrap .all-open {
  display: none;
  position: relative;
  min-width: 100px;
  margin-right: 10px;
  padding-right: 17px;
  background-color: transparent;
  color: #3f3f3f;
}
.basket_list .btn_wrap .all-open:before {
  position: absolute;
  top: 52%;
  right: 0;
  width: 11px;
  height: 7px;
  background: url(/resource/templete/nl/common/img/common/bottom-arrow.png)
    right center no-repeat;
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
  content: '';
}
.basket_list .btn_wrap .all-close.on {
  display: block;
}
.basket_list .btn_wrap .all-open.on {
  display: block;
}

/* 2020-03-04 [add - LHJ] */
.blt01 {
  position: relative;
  padding-left: 22px;
}
.blt01:before {
  background: url(/resource/templete/nl/common/img/common/sp.png) no-repeat -209px -50px;
  position: absolute;
  top: 9px;
  left: 0;
  width: 17px;
  height: 17px;
  background-position: -209px -50px;
  content: '';
}
.blt01.type2:first-child {
  margin-top: 0;
}
.blt01.type2 {
  margin: 20px 0 10px;
}
.blt01.type2:before,
.digitization_wrap .blt01:before {
  top: 0;
}
.mt15 {
  margin-top: 15px !important;
}
.caption {
  margin-top: 30px;
  text-align: right;
}
.lLine {
  border-left: 1px solid #dadada !important;
}
.lLine2 {
  border-left: 1px solid #e7e7e7 !important;
}
.mblock {
  display: none;
}

.ucmy1List .subjt {
  margin-top: 0 !important;
}
.ucmy1List .subjt a {
  font-size: 21px;
  font-weight: 700;
  color: #4f4f4f;
}
.ucmy1List .info_text > p {
  display: inline-block;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  padding-left: 18px;
  margin-left: 18px;
}
.ucmy1List .info_text > p:first-child {
  padding-left: 0;
  margin-left: 0;
}
.ucmy1List .info_text > p:first-child:before {
  display: none;
}
.ucmy1List .info_text > p:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 16px;
  margin-right: 18px;
  background: #dcdcdc;
  content: '';
}
.ucmy1List.gazette_board table tbody tr td .btn_wrap {
  margin-top: 0;
}
.ucmy1List .btn_wrap .epub_download {
  font-weight: 500;
}
.mt5 {
  margin-top: 5px !important;
}
.select_copy_paper:after {
  display: block;
  content: '';
  clear: both;
}
.basktet_table .col3 {
  width: 8%;
}
.basktet_table td {
  padding: 12px 2px;
}
.ti_15 > li:first-child {
  margin-top: 0;
}
.ti_15 > li {
  margin-top: 10px;
  text-indent: -7px;
  padding-left: 7px;
}
.rinkBg {
  background: url(/resource/templete/nl/img/sub/rink_bg.png) no-repeat 0 0;
  padding: 130px 0 0;
  border: none;
}
.mt0 {
  margin-top: 0 !important;
}
.ucapi26_detail_wrap .slider_start:before {
  background: url(/resource/templete/nl/img/sub/start.png) no-repeat 0 0;
  background-size: 6px auto;
}
.cont2020Wrap table,
.cont2020Wrap td {
  width: 100% !important;
}
.book_detail_wrap.book_detail2020 img {
  width: auto;
  height: auto;
}
.ucbrd1_detail_wrap .board_contents table caption,
.ucbrd2_detail_wrap .board_contents table caption {
  display: table-caption !important;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
  height: 1px;
}
.ir_text2 {
  display: inline-block;
  width: 0.1px;
  height: 0.1px;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .procedure_wrap.pro2020 .procedure_inner .procedure {
    width: 45%;
  }
  .procedure_wrap.pro2020 .procedure_inner .procedure:before {
    left: -8%;
  }
  .ucapi26_detail_wrap .slider_start:before {
    background-size: 4px auto;
  }
}
@media screen and (max-width: 767px) {
  .ucbrd2_detail_wrap .board_contents img {
    height: auto !important;
  }
  .ucbrd3_detail_wrap .board_contents table {
    max-width: 100%;
    width: auto;
  }
  .mblock {
    display: block;
  }
  .btn_wrap.right.mblock {
    margin-top: 20px;
  }
  .btn_wrap.right.mblock + .detail_wrap {
    margin-top: 10px;
  }
  .rinkBg {
    background-size: auto 80px;
    padding-top: 110px;
  }
  /*.ucmy8_modify_wrap.basket_2020 {display:block}
	.basket_2020 tbody tr*/
  /*.basket_2020 table, .basket_2020 thead, .basket_2020 tbody, .basket_2020 th, .basket_2020 td, .basket_2020 tr {
		display: block;
	}
	.basket_2020 thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.basket_2020 td {position:relative; padding-left:50%; text-align:left}
	.basket_2020 td:before {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 45%;
	    height: 100%;
	    white-space: nowrap;
	    background-color: #f5f5f5;
	    text-align: left;
	    padding: 10px;
	    box-sizing: border-box;
	}

	.basket_2020 td:nth-of-type(1):before { content: "자료명"; }
	.basket_2020 td:nth-of-type(2):before { content: "발행년도" }
	.basket_2020 td:nth-of-type(3):before { content: "청구기호" }
	.basket_2020 td:nth-of-type(4):before { content: "종류" }
	.basket_2020 td:nth-of-type(5):before { content: "인쇄방식"; }
	.basket_2020 td:nth-of-type(6):before { content: "용지크기"; }
	.basket_2020 td:nth-of-type(7):before { content: "복사면"; }*/
  .btnDetail > span {
    margin: 0;
  }
  .ucapi25_table_wrap.type2 .col1,
  .ucapi25_table_wrap.type2 .col2,
  .ucapi25_table_wrap.type2 td:first-child,
  .ucapi25_table_wrap.type2 td:nth-child(2),
  .ucapi25_table_wrap.type2 th:first-child,
  .ucapi25_table_wrap.type2 th:nth-child(2) {
    display: table-cell;
  }
  td.n_mobile,
  th.n_mobile,
  col.n_mobile {
    display: none !important;
  }
  .ucapi25_table_wrap.type2 td:nth-child(3) {
    word-break: keep-all;
  }
}
@media screen and (max-width: 500px) {
  .procedure_wrap.pro2020 .procedure_inner .procedure {
    width: 100%;
  }
}
@media screen and (max-width: 460px) {
  .procedure_wrap.pro2020 .procedure_inner .procedure:before {
    left: 47%;
  }
}
