@charset "utf-8";

/* web font */
/* @font-face {
	font-family: 'Noto Sans';
	font-weight: 100;
	font-style: normal;
	src: url(/include/font/NotoSansKR-Thin.woff2) format('woff2'),
		url(/include/font/NotoSansKR-Thin.woff) format('woff'),
		url(/include/font/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans';
	font-weight: 200;
	font-style: normal;
	src: url(/include/font/NotoSansKR-Light.woff2) format('woff2'),
		url(/include/font/NotoSansKR-Light.woff) format('woff'),
		url(/include/font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans';
	font-weight: normal;
	font-style: normal;
	src: url(/include/font/NotoSansKR-DemiLight.woff2) format('woff2'),
		url(/include/font/NotoSansKR-DemiLight.woff) format('woff'),
		url(/include/font/NotoSansKR-DemiLight.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans';
	font-weight: 300;
	font-style: normal;
	src: url(/include/font/NotoSansKR-Regular.woff2) format('woff2'),
		url(/include/font/NotoSansKR-Regular.woff) format('woff'),
		url(/include/font/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans';
	font-weight: 500;
	font-style: normal;
	src: url(/include/font/NotoSansKR-Medium.woff2) format('woff2'),
		url(/include/font/NotoSansKR-Medium.woff) format('woff'),
		url(/include/font/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans';
	font-weight: 700;
	font-style: normal;
	src: url(/include/font/NotoSansKR-Bold.woff2) format('woff2'),
		url(/include/font/NotoSansKR-Bold.woff) format('woff'),
		url(/include/font/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
	font-family: 'Noto Sans';
	font-weight: 900;
	font-style: normal;
	src: url(/include/font/NotoSansKR-Black.woff2) format('woff2'),
		url(/include/font/NotoSansKR-Black.woff) format('woff'),
		url(/include/font/NotoSansKR-Black.otf) format('opentype');
}

@font-face {
    font-family: 'S-Core Dream 6';
    src: url(/include/font/S-CoreDream-6Bold.eot);
    src: url(/include/font/S-CoreDream-6Bold.eot?#iefix) format('embedded-opentype'),
        url(/include/font/S-CoreDream-6Bold.woff2) format('woff2'),
        url(/include/font/S-CoreDream-6Bold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'S-Core Dream 5';
    src: url(/include/font/S-CoreDream-5Medium.eot);
    src: url(/include/font/S-CoreDream-5Medium.eot?#iefix) format('embedded-opentype'),
        url(/include/font/S-CoreDream-5Medium.woff2) format('woff2'),
        url(/include/font/S-CoreDream-5Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
	font-family: 'NanumSquare';
	font-weight: 700;
	font-style: normal;
	src: url(/include/font/NanumSquareB.eot);
	src: url(/include/font/NanumSquareB.eot?#iefix) format('embedded-opentype'),
		 url(/include/font/NanumSquareB.woff2) format('woff2'),
		 url(/include/font/NanumSquareB.woff) format('woff'),
		 url(/include/font/NanumSquareB.ttf) format('truetype');
	unicode-range: U+0-007F, U+AC00-BEE0, U+BEE2-D7AF, U+1100-11FF, U+000-5FF;
} */

/* reset */
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	height: 100%;
}

body {
	font-size: 1em;
	line-height: 1.6;
	font-weight: normal;
	font-family: 'Noto Sans', '맑은 고딕', 'Malgun Gothic', 'AppleGothic', serif;
	color: #333;
	letter-spacing: -0.25px;
}

html, body, div, span, iframe, p, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, textarea, button, select, table, th, td, article, aside, section, figure, figcaption, img {
	margin: 0;
	padding: 0;
	border: 0;
}

iframe {
	overflow: auto;
	width: 100%;
	border: 0;
}

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0;
	font-size: inherit;
}

th, td {
	font-size: inherit;
	line-height: inherit;
	word-break: normal;
}

ol, ul {
	list-style: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

address, cite, em {
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-size: inherit;
	font-weight: 500;
}

strong, b {
	font-weight: 500;
}

caption, legend {
	overflow: hidden;
	width: 0;
	height: 0;
	line-height: 0;
	text-indent: -9999em;
}

input, textarea, select, optgroup, button {
	font-size: inherit;
	line-height: inherit;
	font-family: inherit;
}

input, textarea {
	resize: none;
	border: 1px solid #ddd;
	border-radius: 0;
	box-sizing: border-box;
	background: #fff;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"] {
	height: 40px;
	padding: 0 4px;
	line-height: 40px;
	border: 1px solid #ddd;
	box-sizing: border-box;
}

input[type="checkbox"], input[type="radio"] {
	padding: 0;
	border-radius: 0;
	box-sizing: border-box;
}

input[type="checkbox"][disabled], input[type="radio"][disabled] {
	opacity: .5;
}

input[type="image"] {
	border: 0 none;
}

input[type="text"], img, select {
	font-size: 1em;
	vertical-align: middle;
}

select {
	height: 40px;
	padding-right: 26px;
	padding-left: 10px;
	border: 1px solid #ddd;
	border-radius: 0;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff url(/images/arr_select.png) 100% 50% no-repeat;
	line-height: 40px;
	color: #666;
}

select::-ms-expand {
	display: none;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	overflow: visible;
	-webkit-appearance: button;
	cursor: pointer;
}

button {
	border: 0;
	background-color: transparent;
}

/* accessibility skip */
.skip {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.skip a {
	display: block;
	position: absolute;
	top: -50px;
	left: 0;
	z-index: 1000;
	width: 100%;
	text-align: center;
}

.skip a:hover, .skip a:focus, .skip a:active {
	top: 0;
	padding: 5px 0;
	font-weight: bold;
	color: #fff;
	background: #555;
}

/* hidden */
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.hidden {
	display: none;
}

.blind {
	overflow: hidden;
	position: absolute;
	top: -9999em;
	left: -9999em;
	width: 1px;
	height: 1px;
	line-height: 1px;
	text-indent: -9999em;
}

.ovh {
	overflow: hidden;
}

/* align */
.fl {float: left !important;}
.fr {float: right !important;}
.clb {clear: both !important;}
.ta_c {text-align: center !important;}
.ta_l {text-align: left !important;}
.ta_r {text-align: right !important;}
.ta_j {text-align: justify !important;}
.fb {font-weight: 700 !important;}
.fn {font-weight: normal !important;}
.u {text-decoration: underline;}
.i {font-style: italic;}
.fc46 {color: #464646 !important;}
.fc66 {color: #666 !important;}
.fc77 {color: #777 !important;}

.fsize15 {font-size: 0.882em !important;}
.fsize16 {font-size: 0.941em !important;}

.ftrans {transform: rotate(0.033222deg);}

.bgNone {background: none !important;}

/* strong color */
.emp1 {color: #d0351c !important;} /*red*/
.emp2 {color: #ff6600 !important;} /*orange*/
.emp3 {color: #0459d7 !important;} /*blue*/
.emp4 {color: #fff !important;} /*withe*/
.emp5 {color: #000 !important;} /*black*/
.emp6 {color: #666 !important;} /*gray*/
.emp7 {color: #333 !important;} /*darkgray*/
.emp8 {color: #079934 !important;} /*green*/
.emp9 {color: #23848b !important;} /*청록*/

/* margin */
.mauto {margin: 0 auto !important;}
.mg0 {margin: 0 !important;}

.mt0 {margin-top: 0 !important;}
.mt05 {margin-top: 5px !important;}
.mt10 {margin-top: 10px !important;}
.mt15 {margin-top: 15px !important;}
.mt20 {margin-top: 20px !important;}
.mt25 {margin-top: 25px !important;}
.mt30 {margin-top: 30px !important;}
.mt35 {margin-top: 35px !important;}
.mt40 {margin-top: 40px !important;}
.mt45 {margin-top: 45px !important;}
.mt50 {margin-top: 50px !important;}
.mt60 {margin-top: 60px !important;}

.mr0 {margin-right: 0 !important;}
.mr05 {margin-right: 5px !important;}
.mr10 {margin-right: 10px !important;}
.mr15 {margin-right: 15px !important;}
.mr20 {margin-right: 20px !important;}
.mr25 {margin-right: 25px !important;}
.mr30 {margin-right: 30px !important;}
.mr35 {margin-right: 35px !important;}
.mr40 {margin-right: 40px !important;}
.mr45 {margin-right: 45px !important;}
.mr50 {margin-right: 50px !important;}

.mb0 {margin-bottom: 0 !important;}
.mb05 {margin-bottom: 05px !important;}
.mb10 {margin-bottom: 10px !important;}
.mb15 {margin-bottom: 15px !important;}
.mb20 {margin-bottom: 20px !important;}
.mb25 {margin-bottom: 25px !important;}
.mb30 {margin-bottom: 30px !important;}
.mb35 {margin-bottom: 35px !important;}
.mb40 {margin-bottom: 40px !important;}
.mb45 {margin-bottom: 45px !important;}
.mb50 {margin-bottom: 50px !important;}
.mb60 {margin-bottom: 60px !important;}

.ml0 {margin-left: 0 !important;}
.ml05 {margin-left: 5px !important;}
.ml10 {margin-left: 10px !important;}
.ml15 {margin-left: 15px !important;}
.ml20 {margin-left: 20px !important;}
.ml25 {margin-left: 25px !important;}
.ml30 {margin-left: 30px !important;}
.ml35 {margin-left: 35px !important;}
.ml40 {margin-left: 40px !important;}
.ml45 {margin-left: 45px !important;}
.ml50 {margin-left: 50px !important;}

/* padding */
.pd0 {padding: 0 !important}
.pd05 {padding: 5px !important}
.pd10 {padding: 10px !important}
.pd15 {padding: 15px !important}
.pd20 {padding: 20px !important}
.pd25 {padding: 25px !important}
.pd30 {padding: 30px !important}

.pt0 {padding-top: 0 !important;}
.pt05 {padding-top: 5px !important;}
.pt10 {padding-top: 10px !important;}
.pt15 {padding-top: 15px !important;}
.pt20 {padding-top: 20px !important;}
.pt25 {padding-top: 25px !important;}
.pt30 {padding-top: 30px !important;}
.pt35 {padding-top: 35px !important;}
.pt40 {padding-top: 40px !important;}
.pt45 {padding-top: 45px !important;}
.pt50 {padding-top: 50px !important;}

.pr0 {padding-right: 0 !important;}
.pr05 {padding-right: 5px !important;}
.pr10 {padding-right: 10px !important;}
.pr15 {padding-right: 15px !important;}
.pr20 {padding-right: 20px !important;}
.pr25 {padding-right: 25px !important;}
.pr30 {padding-right: 30px !important;}
.pr35 {padding-right: 35px !important;}
.pr40 {padding-right: 40px !important;}
.pr45 {padding-right: 45px !important;}
.pr50 {padding-right: 50px !important;}

.pb0 {padding-bottom: 0 !important;}
.pb05 {padding-bottom: 5px !important;}
.pb10 {padding-bottom: 10px !important;}
.pb15 {padding-bottom: 15px !important;}
.pb20 {padding-bottom: 20px !important;}
.pb25 {padding-bottom: 25px !important;}
.pb30 {padding-bottom: 30px !important;}
.pb35 {padding-bottom: 35px !important;}
.pb40 {padding-bottom: 40px !important;}
.pb45 {padding-bottom: 45px !important;}
.pb50 {padding-bottom: 50px !important;}
.pb60 {padding-bottom: 60px !important;}

.pl0 {padding-left: 0 !important;}
.pl05 {padding-left: 5px !important;}
.pl10 {padding-left: 10px !important;}
.pl15 {padding-left: 15px !important;}
.pl20 {padding-left: 20px !important;}
.pl25 {padding-left: 25px !important;}
.pl30 {padding-left: 30px !important;}
.pl35 {padding-left: 35px !important;}
.pl40 {padding-left: 40px !important;}
.pl45 {padding-left: 45px !important;}
.pl50 {padding-left: 50px !important;}

/* .bdt {border-top: solid 1px #e2e2e2 !important;}
.bdb {border-bottom: solid 1px #e2e2e2 !important;}
.bdl {border-left: solid 1px #e2e2e2 !important;}
.bdr {border-right: solid 1px #e2e2e2 !important;} */

@media screen and (max-width:800px) {
	body {
		font-size: 0.938em;
		line-height: 1.6
	}
}

@media screen and (max-width:640px) {
	body {
		font-size: 0.875em;
		line-height: 1.5
	}
	input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"] {
		height: 34px;
		line-height: 34px;
	}	
	select {
		height: 34px;
		padding-right: 26px;
		line-height: 34px;
	}
}

@media screen and (max-width:375px) {
	body {
		font-size: 0.750em;
		line-height: 1.4
	}
}