<?xml version="1.0" encoding="UTF-8"?>
		<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seed.lib.admin.book.AdminBookMapper">

	<!--                     바구니 제본 신청 목록                    -->
	<select id="getBoCartList" parameterType="MemberVO">
		SELECT * FROM CART WHERE USERNAME = #{userName}
	</select>

	<!--                     바구니 제본 신청                     -->
	<insert id="setBoCart" parameterType="BookPrintVO" useGeneratedKeys="true" keyProperty="caNum">
		INSERT INTO CART (CANUM, CASTPAGE, CALSPAGE, CATTPAGE, CAAMOUNT, CASTATUS, USERNAME, ISBN)
		VALUES (#{caNum}, #{caStPage}, #{caLsPage}, #{caTtPage}, #{caAmount}, 'N', #{userName}, #{isbn})
	</insert>

	<!--                     도서 목록                     -->
	<select id="getAdBookList" resultType="BookVO">
		SELECT * FROM BOOK
		ORDER BY ISBN DESC
		limit 10, 10
	</select>
	
	<!--                     도서 추가                     -->
	<insert id="setAdBookAdd" parameterType="BookVO" useGeneratedKeys="true" keyProperty="isbn">
		INSERT INTO BOOK (ISBN, TITLE, WRITER, PUBLISHER, BOOKDATE, ABLE, CATEGORY, QUANTLTY, IMAGE, BOOKCOUNT, BOOKHEART, NUM)
		VALUES (#{isbn}, #{title}, #{writer}, #{publisher}, #{bDate}, 1, #{category}, #{quantity}, #{image}, 0, 0, 0);
	</insert>
	
</mapper>