<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seed.lib.board.BoardMapper">

		<sql id="search">
		WHERE
			<choose>
				<when test="kind=='title'">TITLE</when>
				<when test="kind=='contents'">CONTENTS</when>
				<otherwise>CONTENTS</otherwise>
			</choose>
			LIKE CONCAT('%', #{search}, '%')
			</sql>


			<select id="getTotalCount" parameterType="BoardPager" resultType="Long">
				SELECT COUNT(BOARDNUM)
				FROM BOARD
				<include refid="search"></include>
				ORDER BY BOARDNUM DESC
			</select>

			<delete id="FileDelete" parameterType="BoardFileVO">
			
			DELETE FROM BOARDFILE WHERE FILENUM=#{fileNum}
			
			</delete>
			
			

			<insert id="setFileAdd" parameterType="BoardFileVO">
			
			INSERT INTO BOARDFILE VALUES(null,#{boardNum}, #{fileName}, #{oriName})
			
			</insert>
			
			

			<select id="getDetailFile" parameterType="BoardFileVO" resultType="BoardFileVO"> 
			  
			    SELECT * FROM BOARDFILE WHERE FILENUM = #{fileNum}
			
			 </select>
			 
			 
			 
			 <delete id="setDelete" parameterType="BoardVO">
			
			     DELETE FROM BOARD WHERE BOARDNUM=#{boardNum}
			  
			  </delete>
			  
			  
			 
			 <update id="setUpdate" parameterType="BoardVO">
			
			 UPDATE BOARD SET TITLE=#{title}, CONTENTS=#{contents} WHERE BOARDNUM=#{boardNum}
			
			 </update>
			 
			 

			<insert id="setAdd" parameterType="BoardVO" useGeneratedKeys="true" keyProperty="boardNum">
			
				INSERT INTO BOARD VALUES(#{boardNum},#{title},#{contents},#{writer},now(),0)
			
			</insert>
			
			<update id="setHit" parameterType="BoardVO">
				UPDATE BOARD 
				SET HIT=HIT+1
				WHERE BOARDNUM=#{boardNum}
			</update>
			
			<select id="getList" parameterType="BoardPager" resultType="BoardVO">
						
				SELECT * FROM BOARD 	 
					<include refid="search"></include>
					ORDER BY BOARDNUM DESC 
					LIMIT #{startRow}, #{perPage}
					
			</select>
			
			
			
			<select id="getDetail" parameterType="BoardVO" resultMap="getDetailResult">
			
					SELECT B.* , BF.*
					FROM `BOARD` B
					LEFT JOIN 
					`BOARDFILE` BF 
					ON B.BOARDNUM= BF.BOARDNUM
					WHERE B.BOARDNUM= #{boardNum}
			
			
			</select>
			
			<resultMap type="BoardVO" id="getDetailResult">
					
					<id column="boardNum" property="boardNum"/>
					<result column="title" property="title"/>
					<result column="contents" property="contents"/>
					<result column="writer" property="writer"/>
					<result column="regdate" property="regDate"/>
					<result column="hit" property="hit"/>
			    
			     <collection property="boardFileVOs" javaType="List" ofType="BoardFileVO">
					<id column="fileNum" property="fileNum"/>
					<result column="fileName" property="fileName"/>
					<result column="oriName" property="oriName"/>
				</collection>
				
			</resultMap >




</mapper>