<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seed.lib.book.BookMapper">

	<!-- 도서 디테일 -->
	<select id="getDetail" resultMap="getDetailResult" parameterType="BookVO">
	SELECT b.*, b2.*, l.*, mbl.*
	FROM book b
		inner join booklib b2 
		on b.ISBN = b2.ISBN 
	
		inner join library l
		on l.LIBNUM  = b2.LIBNUM 
		
		inner join mbbooklike mbl
		on b.ISBN = mbl.ISBN
	WHERE b.ISBN = #{isbn}
	</select>
	
	<resultMap type="BookVO" id="getDetailResult">
		<id column="isbn" property="isbn" />
			<result column="title" property="title"/>
			<result column="writer" property="writer"/>
			<result column="publisher" property="publisher"/>
			<result column="bookDate" property="bookDate"/>
			<result column="category" property="category"/>
			<result column="image" property="image"/>
			<result column="bookCount" property="bookCount"/>
			<result column="bookHeart" property="bookHeart"/>

			<association property="mbBookLikeVO" javaType="MbBookLikeVO">
				<id column="bookLike" property="bookLike"/>
			</association>
			
			<collection property="bookLibVOs" javaType="List" ofType="BookLibVO">
				<result column="quantity" property="quantity"/>
				<result column="able" property="able"/>
			</collection>
			
			<collection property="libVOs" javaType="List" ofType="LibVO">
				<id column="libNum" property="libNum"/>
				<result column="libName" property="libName"/>
			</collection>
			
	</resultMap>
	
</mapper>
  

