<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seed.lib.book.shelf.BookShelfMapper">

	<select id="getBookTitle" parameterType="BookVO" resultType="String">
		select TITLE from book b where ISBN = #{isbn}
	</select>

	<select id="getShelfExist" parameterType="BookShelfVO" resultType="Integer">
		SELECT COUNT(SHNUM) FROM SHELF WHERE USERNAME = 'bb'
	</select>
	
	<select id="getShelfList" parameterType="BookShelfVO" resultType="BookShelfVO">
		select * from shelf where userName = #{userName}
	</select>
	
	<insert id="setShelfAdd" parameterType="BookShelfVO">
		insert into shelf(USERNAME, SHNAME, SHMEMO)
			values (#{userName}, #{shName}, #{shMemo});
	</insert>
	
	
	<delete id="setShelfDelete" parameterType="BookVO">
		delete from shelf
			where shName = #{shName} and username= #{userName}
	</delete>
	
	
	<update id="setShelfUpdate" parameterType="BookShelfVO">
		update shelf
			set shname = #{shName} and shmemo = #{shMemo}
		where shnum = #{shNum}
	</update>
	
	
	<insert id="setBookAdd" parameterType="BookPickVO">
		insert into pick(ISBN, SHNUM)
			values (#{isbn}, #{shNum});
	</insert>
	
	
	<delete id="setBookDelete" parameterType="BookPickVO">
		delete from pick
			where isbn = #{isbn} and shnum = #{shNum}
	</delete>
	
	
	<select id="getBookList" parameterType="ShelfPager" resultMap="getBookList">
		SELECT S.*, P.*, B.*
			FROM SHELF S
				INNER JOIN PICK P
				ON S.SHNUM = P.SHNUM
				
				INNER JOIN BOOK B
				ON P.ISBN = B.ISBN
				
			WHERE S.SHNUM = #{shNum}
			ORDER BY
    			<choose>
    				<when test="select == 'title'">B.TITLE</when>
    				<otherwise>B.ISBN</otherwise>
    			</choose>
    			<choose>
    				<when test="sort == 'desc'">DESC</when>
    				<otherwise>ASC</otherwise>
    			</choose>
	</select>
	<resultMap type="BookVO" id="getBookList">
		<id column="isbn" property="isbn"/>
			<result column="title" property="title"/>
			<result column="writer" property="writer"/>
		<association property="bookPickVOs" javaType="BookPickVO">
			<id column="pickNum" property="pickNum"/>
		</association>
		<collection property="bookShelfVOs" javaType="List" ofType="BookShelfVO">
			<id column="shNum" property="shNum"/>
			<result column="shName" property="shName"/>
			<result column="shMemo" property="shMemo"/>
			<result column="userName" property="userName"/>
		</collection>
			
		
	</resultMap>
	
	
	<select id="getShelfCount" resultType="Long" parameterType="ShelfPager">
    	SELECT COUNT(SHNUM) FROM SHELF WHERE USERNAME = #{userName}
	</select>
	
	
	<select id="getBookCount" resultType="Long" parameterType="ShelfPager">
    	SELECT COUNT(PICKNUM) FROM PICK WHERE SHNUM = #{shNum}
	</select>
</mapper>