<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seed.lib.book.like.BookLikeMapper">

	<insert id="setLike" parameterType="MbBookLikeVO">
		INSERT INTO MBBOOKLIKE (ISBN, USERNAME) VALUES (#{isbn}, #{userName}) 
	</insert>
	
	<select id="getLikeExist" parameterType="MbBookLikeVO" resultType="Integer">
		SELECT COUNT(BOOKLIKE) FROM MBBOOKLIKE WHERE USERNAME = #{userName} AND ISBN = #{isbn}
	</select>
	
	<delete id="setUnlike" parameterType="MbBookLikeVO">
		DELETE FROM MBBOOKLIKE WHERE USERNAME = #{userName} AND ISBN = #{isbn}
	</delete>
	
	<select id="getBookLike" parameterType="BookVO" resultType="Integer">
		SELECT COUNT(BOOKLIKE) FROM MBBOOKLIKE WHERE ISBN = #{isbn}
	</select>
</mapper>
  

