<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seed.lib.book.order.BoOrderMapper">

	<!--                     바구니 제본 신청 목록                    -->
	<select id="getBoCartList" parameterType="MemberVO" resultMap="getBoCartListResult">
		SELECT M.USERNAME, C.CANUM , C.CATTPAGE, C.CAAMOUNT , C.CASTATUS, B.ISBN, B.TITLE 
		FROM MEMBER M
			LEFT JOIN
			CART C
			ON M.USERNAME = C.USERNAME
			LEFT JOIN
			BOOK B
			ON C.ISBN = B.ISBN
		WHERE M.USERNAME = #{userName}
	</select>
	<resultMap type="MemberVO" id="getBoCartListResult">
		<id column="USERNAME" property="userName"/>
		<collection property="bookPrintVOs" javaType="List" ofType="BookPrintVO">
			<id column="CANUM" property="caNum"/>
			<result column="CATTPAGE" property="caTtPage"/>
			<result column="CAAMOUNT" property="caAmount"/>
			<result column="CASTATUS" property="caStatus"/>
			<association property="bookVO" javaType="BookVO">
				<id column="ISBN" property="isbn"/>
				<result column="TITLE" property="title"/>
			</association>
		</collection>
	</resultMap>

	<!--                     하나 결제                    -->
	<insert id="setBoCart" parameterType="BookPrintVO" useGeneratedKeys="true" keyProperty="caNum">
		INSERT INTO CART (CANUM, CACOUNT, CACOLOR, CASIZE, CASTPAGE, CALSPAGE, CATTPAGE, CAAMOUNT, CASTATUS, USERNAME, ISBN, IMP_UID, MERCHANT_UID)
		VALUES (#{caNum}, 0, #{caColor}, #{caSize}, #{caStPage}, #{caLsPage}, #{caTtPage}, #{caAmount}, 'Y', #{userName}, #{isbn}, #{imp_uid}, #{merchant_uid})
	</insert>
	
	<!--                     제본 여러개                     -->
	<insert id="setBoOrder" parameterType="BoOrderVO" useGeneratedKeys="true" keyProperty="ordNum">
		INSERT INTO `ORDER` (ORDNUM, ORDTOTAL, ORDDATE, ORDSTATUS)
		VALUES(#{ordNum}, 1, now(), 1)
	</insert>
</mapper> 