<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seed.lib.donation.DonationMapper">
<!-- 기증도서관련 -->
	<insert id="setDon" parameterType="DonationVO" useGeneratedKeys="true" keyProperty="donNum">
		INSERT INTO DONATION VALUES
		(#{donNum}, #{donTitle}, #{donWriter}, #{donPublisher}, #{donMemo}, SYSDATE(), #{userName}, #{emailAgree})		
	</insert>
	
	<insert id="setDonStat" parameterType="DonationVO">
		INSERT INTO DOSTAT VALUES
		(0, #{donNum}, 0)
	</insert>	
	
	<insert id="setDonLib" parameterType="Map">
		INSERT INTO DONLIB VALUES
		(0, #{libNum}, #{donNum})
	</insert>	
		
		
<!-- 마이페이지 영역 -->
<sql id="search">
		 AND L.LIBNUM LIKE CONCAT(#{libNum},'%')
		 AND <choose>
				<when test="searchType==0">DONTITLE</when>
				<when test="searchType==1">DONWRITER</when>
				<otherwise>DONPUBLISHER</otherwise>
			 </choose>
			LIKE CONCAT('%', #{searchKeyword}, '%')
</sql>

<select id="getTotalCount" parameterType="HdPager" resultType="Long">
	SELECT COUNT(D.DONNUM) FROM DONATION D
			INNER JOIN
			DOSTAT DS
			ON D.DONNUM=DS.DONNUM
				INNER JOIN
				STATUS S
				ON DS.STATNUM=S.STATNUM 
			INNER JOIN
			DONLIB DL
			ON D.DONNUM=DL.DONNUM
				INNER JOIN
				LIBRARY L
				ON DL.LIBNUM=L.LIBNUM
		WHERE USERNAME=#{userName} <include refid="search"></include>
		ORDER BY D.DONNUM DESC 
</select>

	<select id="getDonList" parameterType="HdPager" resultMap="DonationVOResult">
		SELECT * FROM DONATION D
			INNER JOIN
			DOSTAT DS
			ON D.DONNUM=DS.DONNUM
				INNER JOIN
				STATUS S
				ON DS.STATNUM=S.STATNUM 
			INNER JOIN
			DONLIB DL
			ON D.DONNUM=DL.DONNUM
				INNER JOIN
				LIBRARY L
				ON DL.LIBNUM=L.LIBNUM
		WHERE USERNAME=#{userName} <include refid="search"></include>
		ORDER BY DS.STATNUM, D.DONNUM DESC 
	</select>
	

	<update id="setUpdateDon" parameterType="DonationVO">
		UPDATE DONATION D
			INNER JOIN
			DOSTAT DS
			ON D.DONNUM=DS.DONNUM
				INNER JOIN
				STATUS S
				ON DS.STATNUM=S.STATNUM
				SET DS.STATNUM=1
		WHERE USERNAME=#{userName} AND D.DONNUM=#{donNum}
	</update>
	
	
<!-- 열람실예약관련 -->

<!-- resultMap -->
<resultMap type="DonationVO" id="DonationVOResult">
	<id column="DONNUM" property="donNum"/>
		<result column="DONTITLE" property="donTitle"/>
		<result column="DONWRITER" property="donWriter"/>
		<result column="DONPUBLISHER" property="donPublisher"/>
		<result column="DONMEMO" property="donMemo"/>
		<result column="DONDATE" property="donDate"/>
		<result column="USERNAME" property="userName"/>
		<result column="EMAILAGREE" property="emailAgree"/>
	<association property="statusVO">
		<id column="STATNUM" property="statNum"/>
		<result column="STATNAME" property="statName"/>
	</association>
	<association property="libVO">
		<id column="LIBNUM" property="libNum"/>
		<result column="LIBNAME" property="libName"/>
	</association>
</resultMap>	
</mapper>    