<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seed.lib.hope.HopeMapper">
<!-- 희망도서관련 -->
	<select id="isHaveBook" parameterType="Map" resultType="int">
		SELECT COUNT(*) FROM BOOK WHERE ISBN=#{isbn}
	</select>

	<select id="getHaveBook" parameterType="Map" resultType="int">
		SELECT COUNT(*) FROM BOOK B
			INNER JOIN
			BOOKLIB BL
			ON B.ISBN=BL.ISBN
				INNER JOIN
				LIBRARY L
				ON BL.LIBNUM=L.LIBNUM
		WHERE B.ISBN=#{isbn} AND L.LIBNUM=#{libNum}		
	</select>

	<select id="getOverLapBook" parameterType="Map" resultType="int">
		SELECT COUNT(*) FROM HOPE H
			INNER JOIN
			HOPLIB HL
			ON H.HOPNUM=HL.HOPNUM
				INNER JOIN
				LIBRARY L
				ON HL.LIBNUM=L.LIBNUM
		WHERE H.ISBN=#{isbn} AND L.LIBNUM=#{libNum}		
	</select>

	<select id="getMonth" parameterType="HopeVO" resultType="Int">
		SELECT COUNT (*) FROM 
		HOPE H
			INNER JOIN
			HOSTAT HS
			ON H.HOPNUM=HS.HOPNUM
				INNER JOIN
				STATUS S
				ON HS.STATNUM=S.STATNUM 
			WHERE USERNAME=#{userName} AND HS.STATNUM IN(0,2) AND YEAR(HOPDATE)=YEAR(SYSDATE()) AND MONTH(HOPDATE)=MONTH(SYSDATE());
	</select>

	<insert id="setHope" parameterType="HopeVO" useGeneratedKeys="true" keyProperty="hopNum">
		INSERT INTO HOPE
		(HOPNUM, HOPTITLE, HOPWRITER, HOPPUBLISHER, HOPMEMO, HOPDATE, ISBN, USERNAME, IMAGE, EMAIL, PRICE, HOPYEAR, CATEGORY)
		VALUES
		(#{hopNum}, #{hopTitle}, #{hopWriter}, #{hopPublisher}, #{hopMemo}, SYSDATE(), #{isbn}, #{userName}, #{image}, #{email}, #{price}, #{hopYear}, 0)		
	</insert>
	
	<insert id="setHopeStat" parameterType="HopeVO">
		INSERT INTO HOSTAT VALUES
		(0, #{hopNum}, 0)
	</insert>	
	
	<insert id="setHopeLib" parameterType="Map">
		INSERT INTO HOPLIB VALUES
		(0, #{libNum}, #{hopNum})
	</insert>	
		
		
<!-- 마이페이지 영역 -->
<sql id="search">
		 L.LIBNUM LIKE CONCAT(#{libNum},'%')
		 AND <choose>
				<when test="searchType==0">HOPTITLE</when>
				<when test="searchType==1">HOPWRITER</when>
				<otherwise>HOPPUBLISHER</otherwise>
			 </choose>
			LIKE CONCAT('%', #{searchKeyword}, '%')
</sql>

<select id="getTotalCount" parameterType="HdPager" resultType="Long">
	SELECT COUNT(H.HOPNUM) FROM HOPE H
			INNER JOIN
			HOSTAT HS
			ON H.HOPNUM=HS.HOPNUM
				INNER JOIN
				STATUS S
				ON HS.STATNUM=S.STATNUM 
			INNER JOIN
			HOPLIB HL
			ON H.HOPNUM=HL.HOPNUM
				INNER JOIN
				LIBRARY L
				ON HL.LIBNUM=L.LIBNUM
		WHERE USERNAME=#{userName} AND <include refid="search"></include>
		ORDER BY H.HOPNUM DESC 
</select>

<select id="getHopeList" parameterType="HdPager" resultMap="HopeVOResult">
	SELECT * FROM HOPE H
		INNER JOIN
		HOSTAT HS
		ON H.HOPNUM=HS.HOPNUM
			INNER JOIN
			STATUS S
			ON HS.STATNUM=S.STATNUM 
		INNER JOIN
		HOPLIB HL
		ON H.HOPNUM=HL.HOPNUM
			INNER JOIN
			LIBRARY L
			ON HL.LIBNUM=L.LIBNUM
	WHERE USERNAME=#{userName} AND <include refid="search"></include>
	ORDER BY HS.STATNUM, H.HOPNUM DESC 
	LIMIT #{startRow}, #{perPage}
</select>	

<update id="setUpdateHope" parameterType="HopeVO">
	UPDATE HOPE H
		INNER JOIN
		HOSTAT HS
		ON H.HOPNUM=HS.HOPNUM
			INNER JOIN
			STATUS S
			ON HS.STATNUM=S.STATNUM
			SET HS.STATNUM=1
	WHERE USERNAME=#{userName} AND H.HOPNUM=#{hopNum}
</update>

<!-- Admin 관련 -->
	<select id="getAdminTotalCount" parameterType="HdPager" resultType="Long">
		SELECT COUNT(H.HOPNUM) FROM HOPE H
				INNER JOIN
				HOSTAT HS
				ON H.HOPNUM=HS.HOPNUM
					INNER JOIN
					STATUS S
					ON HS.STATNUM=S.STATNUM 
				INNER JOIN
				HOPLIB HL
				ON H.HOPNUM=HL.HOPNUM
					INNER JOIN
					LIBRARY L
					ON HL.LIBNUM=L.LIBNUM
			WHERE L.LIBNUM LIKE CONCAT(#{libNum},'%') AND HS.STATNUM LIKE CONCAT(#{searchKeyword},'%')
			ORDER BY H.HOPNUM DESC 
	</select>

	<select id="getAdminHopList" parameterType="HdPager" resultMap="HopeVOResult">
		SELECT * FROM HOPE H
			INNER JOIN
			HOSTAT HS
			ON H.HOPNUM=HS.HOPNUM
				INNER JOIN
				STATUS S
				ON HS.STATNUM=S.STATNUM 
			INNER JOIN
			HOPLIB HL
			ON H.HOPNUM=HL.HOPNUM
				INNER JOIN
				LIBRARY L
				ON HL.LIBNUM=L.LIBNUM
		WHERE L.LIBNUM LIKE CONCAT(#{libNum},'%') AND HS.STATNUM LIKE CONCAT(#{searchKeyword},'%')
		ORDER BY HS.STATNUM, H.HOPNUM DESC 
		LIMIT #{startRow}, #{perPage}
	</select>

	<select id="getHopeOne" parameterType="HopeVO" resultMap="HopeVOResult">
		SELECT * FROM HOPE H
			INNER JOIN
			HOSTAT HS
			ON H.HOPNUM=HS.HOPNUM
				INNER JOIN
				STATUS S
				ON HS.STATNUM=S.STATNUM 
			INNER JOIN
			HOPLIB HL
			ON H.HOPNUM=HL.HOPNUM
				INNER JOIN
				LIBRARY L
				ON HL.LIBNUM=L.LIBNUM
		WHERE H.HOPNUM=#{hopNum}
	</select>
	
	<update id="setHopeCncl" parameterType="HopeVO">
		UPDATE HOPE H
			INNER JOIN
			HOSTAT HS
			ON H.HOPNUM=HS.HOPNUM
				INNER JOIN
				STATUS S
				ON HS.STATNUM=S.STATNUM
				SET HS.STATNUM=3
		WHERE USERNAME=#{userName} AND H.HOPNUM=#{hopNum}
	</update>
	
	<select id="bookCount" resultType="Long">
		SELECT MAX(NUM) FROM BOOK
	</select>

	<insert id="setHopeOne" parameterType="BookVO">
		INSERT INTO BOOK (ISBN, TITLE, WRITER, PUBLISHER, BOOKDATE, CATEGORY, IMAGE, BOOKCOUNT, BOOKHEART, NUM, REGDATE)
		VALUES (#{isbn}, #{title}, #{writer}, #{publisher}, #{bookDate}, #{category}, #{image}, 0, 0, #{num}, SYSDATE());
	</insert>
	
	<insert id="setLibOne" parameterType="Map">
		INSERT INTO BOOKLIB
		(BLIBNUM, LIBNUM, ISBN, QUANTITY, ABLE)
		VALUES(0, #{libNum}, #{isbn}, 1, 1)
	</insert>
	
	<update id="setAdminHopeStat" parameterType="HopeVO">
		UPDATE HOSTAT SET STATNUM=2
		WHERE HOPNUM=#{hopNum}
	</update>	

<!-- resultMap -->
	<resultMap type="BookVO" id="haveResult">
		<id column="isbn" property="isbn" />
			<result column="title" property="title"/>
			<result column="writer" property="writer"/>
			<result column="publisher" property="publisher"/>
			<result column="bookDate" property="bookDate"/>
			<result column="able" property="able"/>
			<result column="category" property="category"/>
			<result column="quantity" property="quantity"/>
			<result column="image" property="image"/>
			<result column="bookCount" property="bookCount"/>
			<result column="bookHeart" property="bookHeart"/>
			<result column="num" property="num"/>			
			<collection property="libVOs" javaType="List" ofType="LibVO">
				<id column="libNum" property="libNum"/>
				<result column="libName" property="libName"/>
			</collection>
	</resultMap>

<resultMap type="HopeVO" id="HopeVOResult">
	<id column="HOPNUM" property="hopNum"/>
		<result column="HOPTITLE" property="hopTitle"/>
		<result column="HOPWRITER" property="hopWriter"/>
		<result column="HOPPUBLISHER" property="hopPublisher"/>
		<result column="USERNAME" property="userName"/>
		<result column="HOPMEMO" property="hopMemo"/>
		<result column="HOPDATE" property="hopDate"/>
		<result column="ISBN" property="isbn"/>
		<result column="IMAGE" property="image"/>
		<result column="EMAIL" property="email"/>
		<result column="PRICE" property="price"/>
		<result column="HOPYEAR" property="hopYear"/>
	<association property="statusVO">
		<id column="STATNUM" property="statNum"/>
		<result column="STATNAME" property="statName"/>
	</association>
	<association property="libVO">
		<id column="LIBNUM" property="libNum"/>
		<result column="LIBNAME" property="libName"/>
	</association>
</resultMap>	

<resultMap type="HopeVO" id="getOverLapBookResult">
	<id column="HOPNUM" property="hopNum"/>
		<result column="HOPLIB" property="hopLib"/>
		<result column="HOPTITLE" property="hopTitle"/>
		<result column="HOPWRITER" property="hopWriter"/>
		<result column="HOPPUBLISHER" property="hopPublisher"/>
		<result column="USERNAME" property="userName"/>
		<result column="HOPMEMO" property="hopMemo"/>
		<result column="HOPDATE" property="HOPDATE"/>
		<result column="ISBN" property="isbn"/>
		<result column="IMAGE" property="image"/>
	<association property="libVO">
		<id column="LIBNUM" property="libNum"/>
		<result column="LIBNAME" property="libName"/>
	</association>
</resultMap>


<!-- 메인페이지 -->
<select id="getLoanList" parameterType="String" resultType="int">
	SELECT COUNT(*)
	FROM LOAN L
		INNER JOIN BOOK B
		ON B.ISBN = L.ISBN
	WHERE L.USERNAME = #{userName}
		AND RTSTATUS = 1
</select>

<select id="getRevList" parameterType="String" resultType="int">
SELECT COUNT(*)
	FROM RESERVATION E
		INNER JOIN BOOK B
		ON B.ISBN = E.ISBN
	WHERE E.USERNAME = #{userName}
</select>

<select id="getProList" parameterType="String" resultType="int">
	SELECT COUNT(*)
	FROM PROGRAM P
		INNER JOIN MEMBERPROGRAM MP	
	ON P.PRONUM = MP.PRONUM	
	WHERE MP.USERNAME = #{userName}	
</select>

<select id="getHopList" parameterType="String" resultType="int">
	SELECT COUNT(H.HOPNUM) FROM HOPE H
			INNER JOIN
			HOSTAT HS
			ON H.HOPNUM=HS.HOPNUM
				INNER JOIN
				STATUS S
				ON HS.STATNUM=S.STATNUM 
			INNER JOIN
			HOPLIB HL
			ON H.HOPNUM=HL.HOPNUM
				INNER JOIN
				LIBRARY L
				ON HL.LIBNUM=L.LIBNUM
		WHERE USERNAME=#{userName}
</select>

</mapper>    