<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seed.lib.hope.HopeMapper">
<!-- 희망도서관련 -->
	<insert id="setHope" parameterType="HopeVO">
		INSERT HOPE VALUES
		(0, #{hLib}, #{hTitle}, #{hWriter}, #{hPublisher}, #{userName}, #{hMemo}, SYSDATE(), 0)		
	</insert>
		
	<select id="getHopeList" parameterType="String" resultType="HopeVO">
		SELECT * FROM HOPE WHERE USERNAME=#{userName} ORDER BY HNUM DESC 
	</select>
	
	<delete id="setDeleteHope" parameterType="HopeVO">
		DELETE FROM HOPE WHERE HNUM=#{hNum}
	</delete>
	
	
<!-- 기증도서관련 -->	
	<insert id="setDonation" parameterType="DonationVO">
		INSERT HOPE VALUES
		(0, #{dLib}, #{dTitle}, #{dWriter}, #{dPublisher}, #{userName}, #{dMemo}, 0, SYSDATE())		
	</insert>
	
<!-- 열람실예약관련 -->	
</mapper>    