<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seed.lib.studyroom.LockerMapper">
	
	<select id="getLockerCount" parameterType="String" resultType="LockerVO">
		SELECT * FROM 
		LOCKER L
		LEFT JOIN
		LOCKERRENT LR
		ON L.LOCKERLAST=LR.LOCKERLAST	
	</select>
	
	<select id="getUseLocker" parameterType="LockerVO" resultType="int">
		SELECT COUNT(*) FROM
		LOCKERRENT
		WHERE LOCKERNUM=#{lockerNum} AND RENTSTAT=0
	</select>
	
	<select id="getOverlapLocker" parameterType="LockerVO" resultType="int">
		SELECT COUNT(*) FROM
		LOCKERRENT
		WHERE USERNAME=#{userName} AND RENTSTAT=0
	</select>
	
	<insert id="setMyLocker" parameterType="LockerVO">
		INSERT INTO LOCKERRENT
		(IMP_UID, MERCHANT_UID, LOCKERNUM, AMOUNT, STDATE, ENDATE, RENTDAYS, RENTSTAT, USERNAME, LOCKERLAST)
		VALUES(#{imp_uid}, #{merchant_uid}, #{lockerNum}, #{amount}, #{stDate}, #{enDate}, #{rentDays}, 0, #{userName}, 40);
	</insert>
	
	<select id="getLockerHistory" parameterType="String" resultType="LockerVO">
		SELECT * FROM LOCKERRENT 
		WHERE USERNAME=#{userName}
		ORDER BY RENTNUM DESC
	</select>
	
	<select id="getLockerPrice" parameterType="String" resultType="int">
		SELECT PRICE FROM LOCKERRENT
		WHERE MERCHANT_UID = #{merchant_uid}
	</select>
	
	<update id="exitMyLocker" parameterType="String">
		UPDATE LOCKERRENT SET
		RVABLE=1
		WHERE MERCHANT_UID = #{merchant_uid}
	</update> 
	
	<insert id="setLockerCancelOne" parameterType="LockerCancelVO">
		INSERT INTO MONEYBACK
		
	</insert>

</mapper>    