<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seed.lib.studyroom.LockerMapper">
	
	<select id="getLockerCount" parameterType="String" resultType="LockerVO">
		SELECT * FROM 
		LOCKER L
		LEFT JOIN
		LOCKERRENT LR
		ON L.LOCKERLAST=LR.LOCKERLAST	
	</select>
	
	<select id="getUseLocker" parameterType="LockerVO" resultType="int">
		SELECT COUNT(*) FROM
		LOCKERRENT
		WHERE LOCKERNUM=#{lockerNum} AND RENTSTAT=0
	</select>
	
	<select id="getOverlapLocker" parameterType="LockerVO" resultType="int">
		SELECT COUNT(*) FROM
		LOCKERRENT
		WHERE USERNAME=#{userName} AND RENTSTAT=0
	</select>
	
	<insert id="setMyLocker" parameterType="LockerVO">
		INSERT INTO LOCKERRENT
		(IMP_UID, MERCHANT_UID, LOCKERNUM, AMOUNT, STDATE, ENDATE, RENTDAYS, RENTSTAT, USERNAME, LOCKERLAST)
		VALUES(#{imp_uid}, #{merchant_uid}, #{lockerNum}, #{amount}, #{stDate}, #{enDate}, #{rentDays}, 0, #{userName}, 40);
	</insert>
	
		<select id="getLockerTotalCount" parameterType="HdPager" resultType="Long">
		SELECT count(*) FROM LOCKERRENT 
		WHERE USERNAME=#{userName}
		ORDER BY RENTNUM DESC
	</select>
	
	<select id="getLockerHistory" parameterType="HdPager" resultMap="TotalLocker">
		SELECT * FROM LOCKERRENT LR
			LEFT JOIN
			MONEYBACK MB
			ON LR.RENTNUM= MB.RENTNUM
		WHERE USERNAME=#{userName}
		ORDER BY LR.RENTNUM DESC
		LIMIT #{startRow}, #{perPage}
	</select>
	
	<select id="getLockerPrice" parameterType="String" resultType="int">
		SELECT AMOUNT FROM LOCKERRENT
		WHERE MERCHANT_UID = #{merchant_uid}
	</select>
	
	<select id="getLockerOne" parameterType="String" resultType="LockerVO">
		SELECT * FROM LOCKERRENT
		WHERE MERCHANT_UID = #{merchant_uid}
	</select>
	
	<update id="exitMyLocker" parameterType="String">
		UPDATE LOCKERRENT SET
		RENTSTAT=1
		WHERE MERCHANT_UID = #{merchant_uid}
	</update> 
	
	<update id="exitAllLocker">
		UPDATE LOCKERRENT SET
		RENTSTAT=1
		WHERE ENDATE <![CDATA[<]]> CURDATE()
	</update>
	
	<insert id="setLockerCancelOne" parameterType="LockerCancelVO">
		INSERT INTO MONEYBACK
		(BACKPRICE, BACKDATE, RENTNUM, MERCHANT_UID)
		VALUES(#{cancel_request_amount}, SYSDATE(), #{rentNum}, #{merchant_uid})
	</insert>
	
	<resultMap type="LockerVO" id="TotalLocker">
		<id column="RENTNUM" property="rentNum"/>
		<result column="IMP_UID" property="imp_uid"/>
		<result column="MERCHANT_UID" property="merchant_uid"/>
		<result column="LOCKERNUM" property="lockerNum"/>
		<result column="AMOUNT" property="amount"/>
		<result column="STDATE" property="stDate"/>
		<result column="ENDATE" property="enDate"/>
		<result column="RENTDAYS" property="rentDays"/>
		<result column="RENTSTAT" property="rentStat"/>
		<result column="USERNAME" property="userName"/>
		<result column="LOCKERLAST" property="lockerLast"/>
		<association property="moneyBackVO">
			<id column="BACKNUM" property="backNum"/>
			<result column="BACKPRICE" property="backPrice"/>
			<result column="BACKDATE" property="backDate"/>
			<result column="MERCHANT_UID" property="merchant_uid"/>			
		</association>
	</resultMap>

</mapper>    