<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seed.lib.board.qna.QnaMapper">


			<sql id="search">	
	 		<choose>
				<when test="kind=='title'">TITLE</when>
				<when test="kind=='contents'">COTNENTS</when>
				<otherwise>CONTENTS</otherwise>
			 </choose>
			LIKE CONCAT('%', #{search}, '%')
			</sql>


			 
			 
			 
			 <delete id="setDelete" parameterType="QnaVO">
			
			     DELETE QNA WHERE QNANUM=#{qnaNum}
			  
			  </delete>
			  
			  
			 
			 <update id="setUpdate" parameterType="QnaVO">
			
			 UPDATE QNA SET TITLE= #{title}, CONTENTS={contents} WHERE QNANUM=#{qnaNum}
			
			 </update>
			 
			 

			<insert id="setAdd" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="qnaNum">
			
				INSERT INTO QNA VALUES(#{qnaNum},#{title},#{contents})
			
			</insert>
			
			
			
			<select id="getList" parameterType="QnaVO" resultType="QnaVO">
			
				
					SELECT * FROM QNA 
					ORDER BY QNANUM DESC
		 		 <include refid="search"></include>
		 		<!-- 	
					limit #{startRow}, #{perPage}
			-->		
					
			</select>
			
			
				<select id="getDetail" parameterType="QnaVO" resultType="QnaVO">
			
					SELECT * FROM QNA WHERE QNANUM=#{qnaNum}
			
			
			</select>




</mapper>