<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seed.lib.board.qna.QnaMapper">


			 <delete id="setDelete" parameterType="QnaVO">
			
			     DELETE QNA WHERE QNANUM=#{qnaNum}
			  
			  </delete>
			  
			  
			 
			 <update id="setUpdate" parameterType="QnaVO">
			
			 UPDATE QNA SET TITLE= #{title}, CONTENTS={contents} WHERE QNANUM=#{qnaNum}
			
			 </update>
			 
			 

			<insert id="setAdd" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="qnaNum">
			
				INSERT INTO QNA VALUES(#{qnaNum},#{title},#{contents})
			
			</insert>
			
			
			<select id="getTotalCount" parameterType="BoardPager" resultType="Long">
				SELECT COUNT(QNANUM)
				FROM QNA
				ORDER BY QNANUM DESC
				
			</select>
			
			<select id="getList" parameterType="BoardPager" resultType="QnaVO">
			
				
					SELECT * FROM QNA 
					ORDER BY QNANUM DESC
					LIMIT #{startRow}, #{perPage}
					
		 		
					
			</select>
			
			
				<select id="getDetail" parameterType="QnaVO" resultType="QnaVO">
			
					SELECT * FROM QNA WHERE QNANUM=#{qnaNum}
			
			
			</select>




</mapper>