<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seed.lib.search.SearchMapper">

<select id="getBookStatusTotal" resultType="Long">
SELECT COUNT(BLIBNUM) FROM BOOKLIB WHERE LIBNUM=0
</select>

<select id="getBookStatusEach" parameterType="Long" resultType="Long">
SELECT COUNT(BL.BLIBNUM)
FROM BOOKLIB BL
JOIN BOOK B
ON BL.ISBN = B.ISBN
WHERE BL.LIBNUM=0 AND CATEGORY = #{num}
</select>

<select id="getSearchDetail" parameterType="SearchDetailPager" resultType="BookVO">
SELECT * FROM BOOK
WHERE TITLE LIKE CONCAT('%', #{searchTitle}, '%') 
AND WRITER LIKE CONCAT('%', #{searchWriter}, '%')
AND PUBLISHER LIKE CONCAT('%', #{searchPublisher}, '%')
	<if  test= "searchISBN != null">
	AND ISBN LIKE CONCAT('%', #{searchISBN}, '%')
	</if>
	<if  test= "searchDate1 != null">
		<if  test= "searchDate2 != null">
		AND BOOKDATE BETWEEN #{searchDate1} AND #{searchDate2}
		</if>
	</if>
	<if  test= "searchCategory != ''">
	AND CATEGORY = #{searchCategory}
	</if>
ORDER BY
<choose>
		<when test="kind == 'score'">
		    case when TITLE = #{searchTitle} then 0
		    when TITLE LIKE CONCAT(#{searchTitle}, '%') then 1
		    when TITLE LIKE CONCAT('%', #{searchTitle}, '%') then 2
		    when TITLE LIKE CONCAT('%', #{searchTitle}) then 3
		    when WRITER = #{searchWriter} then 4
		    when WRITER LIKE CONCAT(#{searchWriter}, '%') then 5
		    when WRITER LIKE CONCAT('%', #{searchWriter}, '%') then 6
		    when WRITER LIKE CONCAT('%', #{searchWriter}) then 7
		    when PUBLISHER = #{searchPublisher} then 8
		    when PUBLISHER LIKE CONCAT(#{searchPublisher}, '%') then 9
		    when PUBLISHER LIKE CONCAT('%', #{searchPublisher}, '%') then 10
		    when PUBLISHER LIKE CONCAT('%', #{searchPublisher}) then 11
		    else 12 end
		</when>
		<when test="kind == 'title'">
			case when TITLE = #{searchTitle} then 0
		    when TITLE LIKE CONCAT(#{searchTitle}, '%') then 1
		    when TITLE LIKE CONCAT('%', #{searchTitle}, '%') then 2
		    when TITLE LIKE CONCAT('%', #{searchTitle}) then 3
		    else 4 end
		</when>
		<when test="kind == 'writer'">
			case when WRITER = #{searchWriter} then 0
		    when WRITER LIKE CONCAT(#{searchWriter}, '%') then 1
		    when WRITER LIKE CONCAT('%', #{searchWriter}, '%') then 2
		    when WRITER LIKE CONCAT('%', #{searchWriter}) then 3
		    else 4 end
		</when>
		<when test="kind == 'publisher'">
			case when PUBLISHER = #{searchPublisher} then 0
		    when PUBLISHER LIKE CONCAT(#{searchPublisher}, '%') then 1
		    when PUBLISHER LIKE CONCAT('%', #{searchPublisher}, '%') then 2
		    when PUBLISHER LIKE CONCAT('%', #{searchPublisher}) then 3
		    else 4 end
		</when>
		<otherwise>NUM</otherwise>
	</choose>
LIMIT #{startRow}, #{perPage}
</select>

<select id="getSearchDetailCount" parameterType="SearchDetailPager" resultType="Long">
SELECT COUNT(ISBN) FROM BOOK
WHERE TITLE LIKE CONCAT('%', #{searchTitle}, '%') 
AND WRITER LIKE CONCAT('%', #{searchWriter}, '%')
AND PUBLISHER LIKE CONCAT('%', #{searchPublisher}, '%')
	<if  test= "searchISBN != null">
	AND ISBN LIKE CONCAT('%', #{searchISBN}, '%')
	</if>
	<if  test= "searchDate1 != null">
		<if  test= "searchDate2 != null">
		AND BOOKDATE BETWEEN #{searchDate1} AND #{searchDate2}
		</if>
	</if>
		<if  test= "searchCategory != ''">
	AND CATEGORY = #{searchCategory}
	</if>

</select>



<select id="getSearchCategory" parameterType="Map" resultType="BookVO">
SELECT * FROM BOOK
WHERE CATEGORY=#{category}
ORDER BY
	<choose>
		<when test="kind == 'num'">
		    NUM
		</when>
		<when test="kind == 'title'">
			TITLE
		</when>
		<when test="kind == 'writer'">
			WRITER
		</when>
		<otherwise>PUBLISHER</otherwise>
	</choose>
LIMIT #{startRow}, #{perPage}
</select>

<select id="getSearchCategoryCount" parameterType="Map" resultType="Long">
SELECT COUNT(ISBN) FROM BOOK
WHERE CATEGORY=#{category}
ORDER BY 
	<choose>
		<when test="kind == 'num'">
		    NUM
		</when>
		<when test="kind == 'title'">
			TITLE
		</when>
		<when test="kind == 'writer'">
			WRITER
		</when>
		<otherwise>PUBLISHER</otherwise>
	</choose>
</select>

<select id="getSearchNewBook" parameterType="Pager" resultType="BookVO">
SELECT * FROM BOOK
ORDER BY REGDATE DESC
limit 0, #{perPage}
</select>

<!-- <select id="getHaveInfo" parameterType="BookVO" resultMap="getHaveInfoResult">
SELECT * FROM BOOKLIB B
	JOIN LIBRARY L
	ON B.LIBNUM = L.LIBNUM
JOIN BOOKLOAN BLN
ON B.ISBN = BLN.ISBN
JOIN LOAN LN
ON BLN.LOANNUM = LN.LOANNUM
WHERE B.ISBN = #{isbn}
</select> -->

<select id="getSearchSimple" parameterType="Pager" resultType="BookVO">
SELECT * FROM BOOK 
WHERE CONCAT(TITLE, WRITER, PUBLISHER, ISBN) REGEXP #{search}
ORDER BY
	<choose>
		<when test="kind == 'score'">
		    case when TITLE = #{search} then 0
		    when TITLE LIKE CONCAT(#{search}, '%') then 1
		    when TITLE LIKE CONCAT('%', #{search}, '%') then 2
		    when TITLE LIKE CONCAT('%', #{search}) then 3
		    when WRITER = #{search} then 4
		    when WRITER LIKE CONCAT(#{search}, '%') then 5
		    when WRITER LIKE CONCAT('%', #{search}, '%') then 6
		    when WRITER LIKE CONCAT('%', #{search}) then 7
		    when PUBLISHER = #{search} then 8
		    when PUBLISHER LIKE CONCAT(#{search}, '%') then 9
		    when PUBLISHER LIKE CONCAT('%', #{search}, '%') then 10
		    when PUBLISHER LIKE CONCAT('%', #{search}) then 11
		    else 12 end
		</when>
		<when test="kind == 'title'">
			case when TITLE = #{search} then 0
		    when TITLE LIKE CONCAT(#{search}, '%') then 1
		    when TITLE LIKE CONCAT('%', #{search}, '%') then 2
		    when TITLE LIKE CONCAT('%', #{search}) then 3
		    else 4 end
		</when>
		<when test="kind == 'writer'">
			case when WRITER = #{search} then 0
		    when WRITER LIKE CONCAT(#{search}, '%') then 1
		    when WRITER LIKE CONCAT('%', #{search}, '%') then 2
		    when WRITER LIKE CONCAT('%', #{search}) then 3
		    else 4 end
		</when>
		<when test="kind == 'publisher'">
			case when PUBLISHER = #{search} then 0
		    when PUBLISHER LIKE CONCAT(#{search}, '%') then 1
		    when PUBLISHER LIKE CONCAT('%', #{search}, '%') then 2
		    when PUBLISHER LIKE CONCAT('%', #{search}) then 3
		    else 4 end
		</when>
		<otherwise>NUM</otherwise>
	</choose>

LIMIT #{startRow}, #{perPage}


</select>

<select id="getSearchSimpleCount" parameterType="Pager" resultType="Long">
SELECT COUNT(ISBN) FROM BOOK 
WHERE CONCAT(TITLE, WRITER, PUBLISHER, ISBN) REGEXP #{search}
ORDER BY
<choose>
		<when test="kind == 'score'">
		    case when TITLE = #{search} then 0
		    when TITLE LIKE CONCAT(#{search}, '%') then 1
		    when TITLE LIKE CONCAT('%', #{search}, '%') then 2
		    when TITLE LIKE CONCAT('%', #{search}) then 3
		    when WRITER = #{search} then 4
		    when WRITER LIKE CONCAT(#{search}, '%') then 5
		    when WRITER LIKE CONCAT('%', #{search}, '%') then 6
		    when WRITER LIKE CONCAT('%', #{search}) then 7
		    when PUBLISHER = #{search} then 8
		    when PUBLISHER LIKE CONCAT(#{search}, '%') then 9
		    when PUBLISHER LIKE CONCAT('%', #{search}, '%') then 10
		    when PUBLISHER LIKE CONCAT('%', #{search}) then 11
		    else 12 end
		</when>
		<when test="kind == 'title'">
			case when TITLE = #{search} then 0
		    when TITLE LIKE CONCAT(#{search}, '%') then 1
		    when TITLE LIKE CONCAT('%', #{search}, '%') then 2
		    when TITLE LIKE CONCAT('%', #{search}) then 3
		    else 4 end
		</when>
		<when test="kind == 'writer'">
			case when WRITER = #{search} then 0
		    when WRITER LIKE CONCAT(#{search}, '%') then 1
		    when WRITER LIKE CONCAT('%', #{search}, '%') then 2
		    when WRITER LIKE CONCAT('%', #{search}) then 3
		    else 4 end
		</when>
		<when test="kind == 'publisher'">
			case when PUBLISHER = #{search} then 0
		    when PUBLISHER LIKE CONCAT(#{search}, '%') then 1
		    when PUBLISHER LIKE CONCAT('%', #{search}, '%') then 2
		    when PUBLISHER LIKE CONCAT('%', #{search}) then 3
		    else 4 end
		</when>
		<otherwise>NUM</otherwise>
	</choose>
</select>
	
</mapper>    